:host-context(home-view) {
    width: 100%;
    height: fit-content;
}

.home-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.home-nav {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}