.app-container  {
    height: 100dvh;
    width: 100dvw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    box-sizing: border-box;
    padding: 2rem;
}